<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ChuchoBot.WinFormsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ChuchoBot.WinFormsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
  <add name="ChuchoBot.WinFormsApp.Properties.Settings.AppInsightsConnectionString"
   connectionString="InstrumentationKey=fad780b5-9d86-41bf-9b39-8a0cbe73b9f7;IngestionEndpoint=https://eastus-8.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/" />
 </connectionStrings>
	<userSettings>
		<ChuchoBot.WinFormsApp.Properties.Settings>
   <setting name="UserName" serializeAs="String">
    <value />
   </setting>
   <setting name="Password" serializeAs="String">
    <value />
   </setting>
   <setting name="USDARS" serializeAs="String">
    <value>900</value>
   </setting>
   <setting name="Comision" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ApiBaseUrl" serializeAs="String">
    <value>https://api.cocos.xoms.com.ar</value>
   </setting>
   <setting name="TasaCaucion" serializeAs="String">
    <value>33</value>
   </setting>
   <setting name="ArancelCaucionColocadora" serializeAs="String">
    <value>1.5</value>
   </setting>
   <setting name="ArancelCaucionTomadora" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="TickersToMonitor" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <string>BAM25</string>
      <string>BGD24</string>
      <string>BN2M6</string>
      <string>BNA26</string>
      <string>BNM25</string>
      <string>BNO25</string>
      <string>BNS24</string>
      <string>S01L4</string>
      <string>S12L4</string>
      <string>S13D4</string>
      <string>S13S4</string>
      <string>S14O4</string>
      <string>S16G4</string>
      <string>S26L4</string>
      <string>S28F5</string>
      <string>S29N4</string>
      <string>S30G4</string>
      <string>S30S4</string>
      <string>S31E5</string>
      <string>S31M5</string>
      <string>AGCL</string>
      <string>AGRO</string>
      <string>ALUA</string>
      <string>ASUP</string>
      <string>AUSO</string>
      <string>BBAR</string>
      <string>BHIP</string>
      <string>BMA</string>
      <string>BMA.X</string>
      <string>BOLT</string>
      <string>BPAT</string>
      <string>BYMA</string>
      <string>CADO</string>
      <string>CAPX</string>
      <string>CARC</string>
      <string>CARCX</string>
      <string>CECO2</string>
      <string>CELU</string>
      <string>CEPU</string>
      <string>CGPA2</string>
      <string>COME</string>
      <string>CRE3W</string>
      <string>CRES</string>
      <string>CRESX</string>
      <string>CTIO</string>
      <string>CVH</string>
      <string>DGCE</string>
      <string>DGCU2</string>
      <string>DOME</string>
      <string>DYCA</string>
      <string>EDN</string>
      <string>EMDE</string>
      <string>FERR</string>
      <string>FIPL</string>
      <string>GAMI</string>
      <string>GARO</string>
      <string>GBAN</string>
      <string>GCDI</string>
      <string>GCLA</string>
      <string>GGAL</string>
      <string>GRIM</string>
      <string>HARG</string>
      <string>HAVA</string>
      <string>HSAT</string>
      <string>INTR</string>
      <string>INVJ</string>
      <string>IRS2W</string>
      <string>IRSA</string>
      <string>IRSAX</string>
      <string>LEDE</string>
      <string>LOMA</string>
      <string>LONG</string>
      <string>METR</string>
      <string>MIRG</string>
      <string>MOLA</string>
      <string>MOLI</string>
      <string>MORI</string>
      <string>MORIX</string>
      <string>MTR</string>
      <string>OEST</string>
      <string>PAMP</string>
      <string>PATA</string>
      <string>PNIZF</string>
      <string>POLL</string>
      <string>RICH</string>
      <string>RIGO</string>
      <string>ROSE</string>
      <string>SAMI</string>
      <string>SAMIX</string>
      <string>SEMI</string>
      <string>SUPV</string>
      <string>TECO2</string>
      <string>TGLT</string>
      <string>TGLTX</string>
      <string>TGNO4</string>
      <string>TGSU2</string>
      <string>TRAN</string>
      <string>TXAR</string>
      <string>VALO</string>
      <string>YPFD</string>
      <string>AA25</string>
      <string>AA37</string>
      <string>AE38</string>
      <string>AL29</string>
      <string>AL30</string>
      <string>AL35</string>
      <string>AL41</string>
      <string>BA37D</string>
      <string>BA37E</string>
      <string>BAD25</string>
      <string>BAO25</string>
      <string>BAO26</string>
      <string>BB37D</string>
      <string>BB37E</string>
      <string>BC37D</string>
      <string>BC37E</string>
      <string>BDC28</string>
      <string>BPJ25</string>
      <string>BPLD</string>
      <string>BPLE</string>
      <string>BPO27</string>
      <string>BPOA7</string>
      <string>BPOB7</string>
      <string>BPOC7</string>
      <string>BPOD7</string>
      <string>BPY26</string>
      <string>CEDI</string>
      <string>CH24D</string>
      <string>CO21D</string>
      <string>CO24D</string>
      <string>CO26</string>
      <string>CO27</string>
      <string>COY27</string>
      <string>CUAP</string>
      <string>DIA0</string>
      <string>DICA</string>
      <string>DICP</string>
      <string>DIP0</string>
      <string>ERF25</string>
      <string>GD29</string>
      <string>GD30</string>
      <string>GD35</string>
      <string>GD38</string>
      <string>GD41</string>
      <string>GD46</string>
      <string>JUS22</string>
      <string>NDT11</string>
      <string>NDT25</string>
      <string>PAA0</string>
      <string>PAP0</string>
      <string>PARA</string>
      <string>PARP</string>
      <string>PAY0</string>
      <string>PBA25</string>
      <string>PM2D4</string>
      <string>PMD24</string>
      <string>PMM29</string>
      <string>PR17</string>
      <string>PUL26</string>
      <string>RIF25</string>
      <string>RND25</string>
      <string>SA24D</string>
      <string>SF27D</string>
      <string>T2V4</string>
      <string>T2X4</string>
      <string>T2X5</string>
      <string>T3X5</string>
      <string>T4X4</string>
      <string>T5X4</string>
      <string>T7X4</string>
      <string>T7X4P</string>
      <string>TB27P</string>
      <string>TC25P</string>
      <string>TDE25</string>
      <string>TDG24</string>
      <string>TDJ24</string>
      <string>TDN24</string>
      <string>TFU27</string>
      <string>TG25P</string>
      <string>TO26</string>
      <string>TV25</string>
      <string>TVPA</string>
      <string>TVPE</string>
      <string>TVPP</string>
      <string>TVPY</string>
      <string>TVY0</string>
      <string>TX25</string>
      <string>TX25P</string>
      <string>TX26</string>
      <string>TX28</string>
      <string>TX31</string>
      <string>TY27P</string>
      <string>TZV25</string>
      <string>TZV26</string>
      <string>TZVD5</string>
      <string>TZX25</string>
      <string>TZX26</string>
      <string>TZX27</string>
      <string>TZX28</string>
      <string>TZXD5</string>
      <string>TZXD6</string>
      <string>TZXD7</string>
      <string>TZXM5</string>
      <string>TZXM6</string>
      <string>TZXM7</string>
      <string>AABA</string>
      <string>AAL</string>
      <string>AAP</string>
      <string>AAPL</string>
      <string>ABBV</string>
      <string>ABEV</string>
      <string>ABNB</string>
      <string>ABT</string>
      <string>ACN</string>
      <string>ADBE</string>
      <string>ADGO</string>
      <string>ADI</string>
      <string>ADP</string>
      <string>ADS</string>
      <string>AEG</string>
      <string>AEM</string>
      <string>AGN</string>
      <string>AIG</string>
      <string>AKO.B</string>
      <string>AMAT</string>
      <string>AMD</string>
      <string>AMGN</string>
      <string>AMX</string>
      <string>AMZN</string>
      <string>ANF</string>
      <string>AOCA</string>
      <string>ARCO</string>
      <string>ARKK</string>
      <string>ASR</string>
      <string>ATAD</string>
      <string>AUY</string>
      <string>AVGO</string>
      <string>AVY</string>
      <string>AXP</string>
      <string>AZN</string>
      <string>BA</string>
      <string>BA.C</string>
      <string>BABA</string>
      <string>BAK</string>
      <string>BAS</string>
      <string>BAYN</string>
      <string>BB</string>
      <string>BBAS3</string>
      <string>BBD</string>
      <string>BBV</string>
      <string>BCS</string>
      <string>BHP</string>
      <string>BIDU</string>
      <string>BIIB</string>
      <string>BIOX</string>
      <string>BITF</string>
      <string>BK</string>
      <string>BKNG</string>
      <string>BMY</string>
      <string>BNG</string>
      <string>BP</string>
      <string>BRFS</string>
      <string>BRKB</string>
      <string>BSBR</string>
      <string>BSN</string>
      <string>C</string>
      <string>CAAP</string>
      <string>CAH</string>
      <string>CAJ</string>
      <string>CAR</string>
      <string>CAT</string>
      <string>CBRD</string>
      <string>CCL</string>
      <string>CDE</string>
      <string>CHL</string>
      <string>CL</string>
      <string>COIN</string>
      <string>COST</string>
      <string>CRM</string>
      <string>CS</string>
      <string>CSCO</string>
      <string>CVS</string>
      <string>CVX</string>
      <string>CX</string>
      <string>DAL</string>
      <string>DD</string>
      <string>DE</string>
      <string>DEO</string>
      <string>DESP</string>
      <string>DIA</string>
      <string>DISN</string>
      <string>DJNJ2</string>
      <string>DJNJ3</string>
      <string>DOCU</string>
      <string>DOW</string>
      <string>DTEA</string>
      <string>E</string>
      <string>EA</string>
      <string>EBAY</string>
      <string>EBR</string>
      <string>EEM</string>
      <string>EFX</string>
      <string>ELP</string>
      <string>EOAN</string>
      <string>ERIC</string>
      <string>ERJ</string>
      <string>ETSY</string>
      <string>EWZ</string>
      <string>F</string>
      <string>FCX</string>
      <string>FDX</string>
      <string>FMCC</string>
      <string>FMX</string>
      <string>FNMA</string>
      <string>FSLR</string>
      <string>GE</string>
      <string>GFI</string>
      <string>GGB</string>
      <string>GILD</string>
      <string>GLOB</string>
      <string>GLW</string>
      <string>GM</string>
      <string>GOLD</string>
      <string>GOOGL</string>
      <string>GPRK</string>
      <string>GRMN</string>
      <string>GS</string>
      <string>GSK</string>
      <string>HAL</string>
      <string>HAPV3</string>
      <string>HD</string>
      <string>HDB</string>
      <string>HHPD</string>
      <string>HL</string>
      <string>HMC</string>
      <string>HMY</string>
      <string>HNP</string>
      <string>HOG</string>
      <string>HON</string>
      <string>HPQ</string>
      <string>HSBC</string>
      <string>HSY</string>
      <string>HUT</string>
      <string>HWM</string>
      <string>IBM</string>
      <string>IBN</string>
      <string>IFF</string>
      <string>INFY</string>
      <string>ING</string>
      <string>INTC</string>
      <string>IP</string>
      <string>ITUB</string>
      <string>IWM</string>
      <string>JCI</string>
      <string>JD</string>
      <string>JMIA</string>
      <string>JNJ</string>
      <string>JPM</string>
      <string>KB</string>
      <string>KEP</string>
      <string>KGC</string>
      <string>KMB</string>
      <string>KO</string>
      <string>KOFM</string>
      <string>LAC</string>
      <string>LFC</string>
      <string>LKOD</string>
      <string>LLY</string>
      <string>LMT</string>
      <string>LND</string>
      <string>LRCX</string>
      <string>LREN3</string>
      <string>LVS</string>
      <string>LYG</string>
      <string>MA</string>
      <string>MBG</string>
      <string>MBT</string>
      <string>MCD</string>
      <string>MDLZ</string>
      <string>MDT</string>
      <string>MELI</string>
      <string>META</string>
      <string>MFG</string>
      <string>MGLU3</string>
      <string>MMM</string>
      <string>MO</string>
      <string>MOS</string>
      <string>MRK</string>
      <string>MRNA</string>
      <string>MRVL</string>
      <string>MSFT</string>
      <string>MSI</string>
      <string>MSTR</string>
      <string>MU</string>
      <string>MUFG</string>
      <string>MUX</string>
      <string>NEC1</string>
      <string>NEM</string>
      <string>NFLX</string>
      <string>NG</string>
      <string>NGG</string>
      <string>NIO</string>
      <string>NKE</string>
      <string>NLM</string>
      <string>NMR</string>
      <string>NOKA</string>
      <string>NSAN</string>
      <string>NTCO</string>
      <string>NTES</string>
      <string>NU</string>
      <string>NUE</string>
      <string>NVDA</string>
      <string>NVS</string>
      <string>OGZD</string>
      <string>ORAN</string>
      <string>ORCL</string>
      <string>OXY</string>
      <string>PAAS</string>
      <string>PAC</string>
      <string>PAGS</string>
      <string>PANW</string>
      <string>PBI</string>
      <string>PBR</string>
      <string>PCAR</string>
      <string>PCRF</string>
      <string>PEP</string>
      <string>PFE</string>
      <string>PG</string>
      <string>PHG</string>
      <string>PINS</string>
      <string>PKS</string>
      <string>PLTR</string>
      <string>PM</string>
      <string>PRIO3</string>
      <string>PSO</string>
      <string>PSX</string>
      <string>PTR</string>
      <string>PYPL</string>
      <string>QCOM</string>
      <string>QQQ</string>
      <string>RACE</string>
      <string>RBLX</string>
      <string>RENT3</string>
      <string>RIO</string>
      <string>RIOT</string>
      <string>ROKU</string>
      <string>ROST</string>
      <string>RTX</string>
      <string>SAN</string>
      <string>SAP</string>
      <string>SATL</string>
      <string>SBS</string>
      <string>SBUX</string>
      <string>SCCO</string>
      <string>SCHW</string>
      <string>SDA</string>
      <string>SE</string>
      <string>SHEL</string>
      <string>SHOP</string>
      <string>SHPW</string>
      <string>SI</string>
      <string>SID</string>
      <string>SIEGY</string>
      <string>SLB</string>
      <string>SMSN</string>
      <string>SNA</string>
      <string>SNAP</string>
      <string>SNOW</string>
      <string>SNP</string>
      <string>SONY</string>
      <string>SPCE</string>
      <string>SPGI</string>
      <string>SPOT</string>
      <string>SPY</string>
      <string>SQ</string>
      <string>STLA</string>
      <string>STNE</string>
      <string>SUZ</string>
      <string>SWKS</string>
      <string>SYY</string>
      <string>T</string>
      <string>TCOM</string>
      <string>TEFO</string>
      <string>TEN</string>
      <string>TGT</string>
      <string>TI</string>
      <string>TIIAY</string>
      <string>TIMB</string>
      <string>TM</string>
      <string>TMO</string>
      <string>TMUS</string>
      <string>TRIP</string>
      <string>TRVV</string>
      <string>TSLA</string>
      <string>TSM</string>
      <string>TTE</string>
      <string>TTM</string>
      <string>TV</string>
      <string>TWLO</string>
      <string>TWTR</string>
      <string>TXN</string>
      <string>TXR</string>
      <string>UAL</string>
      <string>UBER</string>
      <string>UGP</string>
      <string>UL</string>
      <string>UNH</string>
      <string>UNP</string>
      <string>UPST</string>
      <string>URBN</string>
      <string>USB</string>
      <string>UTX</string>
      <string>V</string>
      <string>VALE</string>
      <string>VIST</string>
      <string>VIV</string>
      <string>VOD</string>
      <string>VRSN</string>
      <string>VZ</string>
      <string>WBA</string>
      <string>WBK</string>
      <string>WBO</string>
      <string>WFC</string>
      <string>WMT</string>
      <string>X</string>
      <string>XLE</string>
      <string>XLF</string>
      <string>XOM</string>
      <string>XP</string>
      <string>XROX</string>
      <string>YELP</string>
      <string>YHOO</string>
      <string>YY</string>
      <string>YZCA</string>
      <string>ZM</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="RatioTickers" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <string>AL30/AE38  </string>
      <string>AL30/AL29  </string>
      <string>AL30/AL35  27</string>
      <string>AL30/GD29</string>
      <string>AL30/GD30  </string>
      <string>AL30/GD35</string>
      <string>AL30/GD41</string>
      <string>AL35/AE38</string>
      <string>GD30/AL35  </string>
      <string>GD30/GD29</string>
      <string>GD30/GD35</string>
      <string>GD30/GD38  </string>
      <string>GD30/GD41</string>
      <string>GD30/GD46</string>
      <string>GD35/AL35 0 1,3</string>
      <string>GD38/AE38</string>
      <string>GD30/AL41  </string>
      <string>GD30/AL29  </string>
      <string>GD29/AL29  </string>
      <string>GD30/AE38  </string>
      <string>GD30/AL30 3,3 4</string>
      <string>GD41/AL41  </string>
     </ArrayOfString>
    </value>
   </setting>
  </ChuchoBot.WinFormsApp.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<ChuchoBot.WinFormsApp.Properties.Settings>
   <setting name="DerechoMercado" serializeAs="String">
    <value>0.01</value>
   </setting>
   <setting name="DerechoMercadoAccionCEDEAR" serializeAs="String">
    <value>0.08</value>
   </setting>
   <setting name="DerechoMercadoLetra" serializeAs="String">
    <value>0.001</value>
   </setting>
   <setting name="TickersDC" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <string>S17E5;S2E5D;S2E5C</string>
      <string>S31E5;SE5D;SE5C</string>
      <string>S14F5;SF5D;SF5C</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="MarketOpenTime" serializeAs="String">
    <value>11:00:00</value>
   </setting>
   <setting name="MarketCloseTime" serializeAs="String">
    <value>17:00:00</value>
   </setting>
   <setting name="MarketCloseCITime" serializeAs="String">
    <value>16:30:00</value>
   </setting>
   <setting name="MarketAuctionTimePeriod" serializeAs="String">
    <value>00:03:00</value>
   </setting>
  </ChuchoBot.WinFormsApp.Properties.Settings>
	</applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>