<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ChuchoBot.WinFormsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ChuchoBot.WinFormsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
  <add name="ChuchoBot.WinFormsApp.Properties.Settings.AppInsightsConnectionString"
   connectionString="InstrumentationKey=fad780b5-9d86-41bf-9b39-8a0cbe73b9f7;IngestionEndpoint=https://eastus-8.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/" />
 </connectionStrings>
	<userSettings>
		<ChuchoBot.WinFormsApp.Properties.Settings>
   <setting name="UserName" serializeAs="String">
    <value />
   </setting>
   <setting name="Password" serializeAs="String">
    <value />
   </setting>
   <setting name="USDARS" serializeAs="String">
    <value>850</value>
   </setting>
   <setting name="Comision" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ApiBaseUrl" serializeAs="String">
    <value>https://api.cocos.xoms.com.ar</value>
   </setting>
   <setting name="TasaCaucion" serializeAs="String">
    <value>70</value>
   </setting>
   <setting name="ArancelCaucionColocadora" serializeAs="String">
    <value>1.5</value>
   </setting>
   <setting name="ArancelCaucionTomadora" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="ArbitrationTickers" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <string>AAL</string>
      <string>AAPL</string>
      <string>ABBV</string>
      <string>ABT</string>
      <string>ADBE</string>
      <string>ADGO</string>
      <string>AE38</string>
      <string>AL29</string>
      <string>AL30</string>
      <string>AL35</string>
      <string>AL41</string>
      <string>AMD</string>
      <string>AMZN</string>
      <string>ARCO</string>
      <string>ARKK</string>
      <string>AVGO</string>
      <string>AXP</string>
      <string>BA</string>
      <string>BA.C</string>
      <string>BABA</string>
      <string>BBD</string>
      <string>BBV</string>
      <string>BIDU</string>
      <string>BIDU</string>
      <string>BIOX</string>
      <string>BITF</string>
      <string>BNG</string>
      <string>BRFS</string>
      <string>BRKB</string>
      <string>C</string>
      <string>CAT</string>
      <string>COIN</string>
      <string>CRM</string>
      <string>CSCO</string>
      <string>CVX</string>
      <string>CX</string>
      <string>DE</string>
      <string>DEO</string>
      <string>DESP</string>
      <string>DIA</string>
      <string>DISN</string>
      <string>DOW</string>
      <string>EEM</string>
      <string>ETSY</string>
      <string>EWZ</string>
      <string>F</string>
      <string>FCX</string>
      <string>GD29</string>
      <string>GD30</string>
      <string>GD35</string>
      <string>GD38</string>
      <string>GD41</string>
      <string>GD46</string>
      <string>GE</string>
      <string>GLOB</string>
      <string>GM</string>
      <string>GOLD</string>
      <string>GOOGL</string>
      <string>HMY</string>
      <string>HSY</string>
      <string>HUT</string>
      <string>IBM</string>
      <string>INTC</string>
      <string>IWM</string>
      <string>JD</string>
      <string>JMIA</string>
      <string>JNJ</string>
      <string>JPM</string>
      <string>KO</string>
      <string>MCD</string>
      <string>MELI</string>
      <string>META</string>
      <string>MMM</string>
      <string>MO</string>
      <string>MRK</string>
      <string>MSFT</string>
      <string>MTR</string>
      <string>NFLX</string>
      <string>NIO</string>
      <string>NKE</string>
      <string>NVDA</string>
      <string>OXY</string>
      <string>PAAS</string>
      <string>PBR</string>
      <string>PEP</string>
      <string>PFE</string>
      <string>PG</string>
      <string>PYPL</string>
      <string>QCOM</string>
      <string>QCOM</string>
      <string>QQQ</string>
      <string>RIO</string>
      <string>S14J4</string>
      <string>SJ4D</string>
      <string>SATL</string>
      <string>SHOP</string>
      <string>SID</string>
      <string>SPY</string>
      <string>SQ</string>
      <string>T</string>
      <string>TEN</string>
      <string>TGT</string>
      <string>TSLA</string>
      <string>TSM</string>
      <string>UPST</string>
      <string>V</string>
      <string>VALE</string>
      <string>VIST</string>
      <string>VZ</string>
      <string>WBA</string>
      <string>WFC</string>
      <string>WMT</string>
      <string>XLE</string>
      <string>XLF</string>
      <string>XOM</string>
      <string>ZM</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="RatioTickers" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <string>GD29/AL29</string>
      <string>GD30/AL30</string>
      <string>GD35/AL35</string>
      <string>GD38/AE38</string>
      <string>GD41/AL41</string>
      <string>AL30/GD35</string>
      <string>GD30/GD35</string>
     </ArrayOfString>
    </value>
   </setting>
  </ChuchoBot.WinFormsApp.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<ChuchoBot.WinFormsApp.Properties.Settings>
   <setting name="DerechoMercado" serializeAs="String">
    <value>0.01</value>
   </setting>
   <setting name="DerechoMercadoAccionCEDEAR" serializeAs="String">
    <value>0.08</value>
   </setting>
   <setting name="OwnedTickers" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <string>AL30</string>
      <string>AL29</string>
      <string>AE38</string>
      <string>GD30</string>
      <string>GD35</string>
      <string>AL35</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="DerechoMercadoLetra" serializeAs="String">
    <value>0.001</value>
   </setting>
   <setting name="TickersDC" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <string>S14J4;SJ4D;SJ4C</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="MarketOpenTime" serializeAs="String">
    <value>11:00:00</value>
   </setting>
   <setting name="MarketCloseTime" serializeAs="String">
    <value>17:00:00</value>
   </setting>
   <setting name="MarketCloseCITime" serializeAs="String">
    <value>16:30:00</value>
   </setting>
   <setting name="MarketAuctionTimePeriod" serializeAs="String">
    <value>00:03:00</value>
   </setting>
  </ChuchoBot.WinFormsApp.Properties.Settings>
	</applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>