<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ChuchoBot.WinFormsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ChuchoBot.WinFormsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ChuchoBot.WinFormsApp.Properties.Settings.AppInsightsConnectionString"
      connectionString="InstrumentationKey=fad780b5-9d86-41bf-9b39-8a0cbe73b9f7;IngestionEndpoint=https://eastus-8.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/" />
  </connectionStrings>
  <userSettings>
    <ChuchoBot.WinFormsApp.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Comision" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ApiBaseUrl" serializeAs="String">
        <value>https://api.cocos.xoms.com.ar</value>
      </setting>
      <setting name="TasaCaucion" serializeAs="String">
        <value>33</value>
      </setting>
      <setting name="ArancelCaucionColocadora" serializeAs="String">
        <value>1.5</value>
      </setting>
      <setting name="ArancelCaucionTomadora" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="USDARS" serializeAs="String">
        <value>1300</value>
      </setting>
      <setting name="RatioTickers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>AL30/AE38  </string>
            <string>AL30/AL29  </string>
            <string>AL30/AL35  27</string>
            <string>AL30D/AL30C 0 1</string>
            <string>AL30/GD29</string>
            <string>AL30/GD30  </string>
            <string>AL30/GD35</string>
            <string>AL30/GD41</string>
            <string>AL35/AE38</string>
            <string>GD30/AL35  </string>
            <string>GD30/GD29</string>
            <string>GD30/GD35</string>
            <string>GD30/GD38  </string>
            <string>GD30/GD41</string>
            <string>GD30/GD46</string>
            <string>GD35/AL35 0 1,3</string>
            <string>GD38/AE38</string>
            <string>GD30/AL41  </string>
            <string>GD30/AL29  </string>
            <string>GD29/AL29  </string>
            <string>GD30/AE38  </string>
            <string>GD30/AL30 3,3 4</string>
            <string>GD41/AL41  </string>
            <string>AL30D/AL30C 0 1</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TickersToMonitor" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>AA37</string>
            <string>AAPL</string>
            <string>AE38</string>
            <string>AGCL</string>
            <string>AGRO</string>
            <string>AL29</string>
            <string>AL30</string>
            <string>AL35</string>
            <string>AL41</string>
            <string>ALUA</string>
            <string>AMD</string>
            <string>AMZN</string>
            <string>ASUP</string>
            <string>AUSO</string>
            <string>BA37D</string>
            <string>BA37E</string>
            <string>BABA</string>
            <string>BAD25</string>
            <string>BAK</string>
            <string>BAO25</string>
            <string>BAO26</string>
            <string>BB37D</string>
            <string>BB37E</string>
            <string>BBAR</string>
            <string>BBD</string>
            <string>BC37D</string>
            <string>BC37E</string>
            <string>BDC28</string>
            <string>BHIP</string>
            <string>BMA</string>
            <string>BMA.X</string>
            <string>BOLT</string>
            <string>BPAT</string>
            <string>BPLD</string>
            <string>BPLE</string>
            <string>BPO27</string>
            <string>BPOA7</string>
            <string>BPOB7</string>
            <string>BPOC7</string>
            <string>BPOD7</string>
            <string>BPY26</string>
            <string>BYMA</string>
            <string>CADO</string>
            <string>CAPX</string>
            <string>CARC</string>
            <string>CARCX</string>
            <string>CECO2</string>
            <string>CEDI</string>
            <string>CELU</string>
            <string>CEPU</string>
            <string>CGPA2</string>
            <string>CH24D</string>
            <string>CO21D</string>
            <string>CO26</string>
            <string>CO27</string>
            <string>COME</string>
            <string>COY27</string>
            <string>CRE3W</string>
            <string>CRES</string>
            <string>CRESX</string>
            <string>CTIO</string>
            <string>CUAP</string>
            <string>CVH</string>
            <string>DGCE</string>
            <string>DGCU2</string>
            <string>DIA0</string>
            <string>DICA</string>
            <string>DICP</string>
            <string>DIP0</string>
            <string>DISN</string>
            <string>DLR/NOV25</string>
            <string>DLR/OCT25</string>
            <string>DOLAR</string>
            <string>DOME</string>
            <string>DYCA</string>
            <string>EDN</string>
            <string>EEM</string>
            <string>EMDE</string>
            <string>ERF25</string>
            <string>EWZ</string>
            <string>FERR</string>
            <string>FIPL</string>
            <string>GAMI</string>
            <string>GARO</string>
            <string>GBAN</string>
            <string>GCDI</string>
            <string>GCLA</string>
            <string>GD29</string>
            <string>GD30</string>
            <string>GD35</string>
            <string>GD38</string>
            <string>GD41</string>
            <string>GD46</string>
            <string>GGAL</string>
            <string>GGALX</string>
            <string>GOOGL</string>
            <string>GRIM</string>
            <string>HARG</string>
            <string>HAVA</string>
            <string>HSAT</string>
            <string>INTC</string>
            <string>INTR</string>
            <string>INVJ</string>
            <string>IRS2W</string>
            <string>IRSA</string>
            <string>IRSAX</string>
            <string>JD</string>
            <string>JUS22</string>
            <string>KO</string>
            <string>LEDE</string>
            <string>LOMA</string>
            <string>LONG</string>
            <string>METR</string>
            <string>MIRG</string>
            <string>MOLA</string>
            <string>MOLI</string>
            <string>MORI</string>
            <string>MORIX</string>
            <string>MTR</string>
            <string>NDT11</string>
            <string>NDT25</string>
            <string>NVDA</string>
            <string>OEST</string>
            <string>OXY</string>
            <string>PAA0</string>
            <string>PAGS</string>
            <string>PAMP</string>
            <string>PAP0</string>
            <string>PARA</string>
            <string>PARP</string>
            <string>PATA</string>
            <string>PAY0</string>
            <string>PFE</string>
            <string>PMM29</string>
            <string>PNIZF</string>
            <string>POLL</string>
            <string>PR17</string>
            <string>PUL26</string>
            <string>QQQ</string>
            <string>RICH</string>
            <string>RIGO</string>
            <string>RND25</string>
            <string>ROSE</string>
            <string>S12S5</string>
            <string>S29G5</string>
            <string>S30S5</string>
            <string>S31L5</string>
            <string>SA24D</string>
            <string>SAMI</string>
            <string>SAMIX</string>
            <string>SEMI</string>
            <string>SF27D</string>
            <string>SH</string>
            <string>SID</string>
            <string>SPY</string>
            <string>SUPV</string>
            <string>TB27P</string>
            <string>TECO2</string>
            <string>TFU27</string>
            <string>TG25P</string>
            <string>TGLT</string>
            <string>TGLTX</string>
            <string>TGNO4</string>
            <string>TGSU2</string>
            <string>TO26</string>
            <string>TRAN</string>
            <string>TV25</string>
            <string>TVPA</string>
            <string>TVPE</string>
            <string>TVPP</string>
            <string>TVPY</string>
            <string>TVY0</string>
            <string>TX25</string>
            <string>TX25P</string>
            <string>TX26</string>
            <string>TX28</string>
            <string>TX31</string>
            <string>TXAR</string>
            <string>TY27P</string>
            <string>TZV26</string>
            <string>TZVD5</string>
            <string>TZX26</string>
            <string>TZX27</string>
            <string>TZX28</string>
            <string>TZXD5</string>
            <string>TZXD6</string>
            <string>TZXD7</string>
            <string>TZXM6</string>
            <string>TZXM7</string>
            <string>TZXO6</string>
            <string>UNH</string>
            <string>VALO</string>
            <string>YPFD</string>
            <string>DOLAR</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ArbitrationTickers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>AL30</string>
            <string>GD30</string>
            <string>S15G5</string>
            <string>S29G5</string>
          </ArrayOfString>
        </value>
      </setting>
    </ChuchoBot.WinFormsApp.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <ChuchoBot.WinFormsApp.Properties.Settings>
      <setting name="DerechoMercado" serializeAs="String">
        <value>0.01</value>
      </setting>
      <setting name="DerechoMercadoLetra" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="TickersDC" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>GOOGL;GOGLD;GOGLC</string>
            <string>IRCOO;IRCOD;IRCOC</string>
            <string>DNC3O;DNC3D;DNC3C</string>
            <string>CRCJO;CRCJD;CRCJC</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MarketCloseTime" serializeAs="String">
        <value>17:00:00</value>
      </setting>
      <setting name="MarketAuctionTimePeriod" serializeAs="String">
        <value>00:03:00</value>
      </setting>
      <setting name="DerechoMercadoAccionCEDEAR" serializeAs="String">
        <value>0.07</value>
      </setting>
      <setting name="MarketOpenTime" serializeAs="String">
        <value>10:30:00</value>
      </setting>
      <setting name="MarketCloseCITime" serializeAs="String">
        <value>17:00:00</value>
      </setting>
    </ChuchoBot.WinFormsApp.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>